@import "tailwindcss";

* {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}
.ripple-button {
    border-radius: 50%;
    overflow:hidden;
    transition: 0.1s ease;
    cursor: pointer;
    user-select: none;
}
.ripple-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.gutter_stable {
    scrollbar-gutter: stable;
}